VITE_PRIVY_APP_ID=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
NEON_DATABASE_URL=
VITE_SHELBY_API_KEY=
VITE_SHELBY_RPC_URL=https://api.shelbynet.shelby.xyz/shelby
VITE_SHELBY_CHAIN_ID=118
VITE_SHELBY_REGISTRY_ADDRESS=0x995d6f9053cfa36ccbab58c567900a918a4a0b15078bed75195b24c9e43bc8e4
VITE_APP_DOMAIN=shohub.app
SHELBY_DEPLOYER_PRIVATE_KEY=
SHELBY_DEPLOYER_ADDRESS=0x995d6f9053cfa36ccbab58c567900a918a4a0b15078bed75195b24c9e43bc8e4
SHELBY_FULLNODE_URL=https://api.shelbynet.shelby.xyz/v1
SHELBY_ALLOWED_DOMAINS=
