VITE_PRIVY_APP_ID=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
NEON_DATABASE_URL=
VITE_SHELBY_API_KEY=
VITE_SHELBY_RPC_URL=https://api.shelbynet.shelby.xyz/shelby
VITE_SHELBY_CHAIN_ID=118
VITE_SHELBY_REGISTRY_ADDRESS=
VITE_APP_DOMAIN=shohub.app
